{% extends 'base.html' %}

{% block content %}

<div>
    <br>
    <a href="{% url 'index' %}">TOPへ戻る</a>
    <br>
    <br>
    <form action="/calender/view/" method="POST">
        {% csrf_token %}
        <div>時間
            <select name="start_time">
                {% for i in time %}
                    <option value={{ i }}>{{ i }}時</option>
                {% endfor %}
                <option value=0 selected>未選択</option>
            </select>
            〜
            <select name="end_time">
                {% for i in time %}
                    <option value={{ i }}>{{ i }}時</option>
                {% endfor %}
                <option value=0 selected>未選択</option>
            </select>
        </div>
        <br>
        <div>場所
            <select name="place">
                <option value="0">梅田</option>
                <option value="1">難波</option>
                <option value="2">岸和田</option>
                <option value="3">布施</option>
                <option value="4">梅田or難波</option>
                <option value="5" selected>未選択</option>
            </select>
        </div>
        <br>
        <button type="submit">検索する</button>
    </form>
    <br>
</div>

<div class="month">
    {{ month }}月
</div>

<table class="table">
    <thead>
    <tr>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            {% for i in calendar_list %}
                <td>
                    <form action="/calender/" method="GET">
                        {% if i == "place" %}
                            <button style="width:30px;padding:3px;background-color:green" name="day" value={{ forloop.counter }}>{{ forloop.counter }}</button>
                        {% else %}
                            <button style="width:30px;padding:3px" name="day" value={{ forloop.counter }}>{{ forloop.counter }}</button>
                        {% endif %}
                        {% if forloop.counter|divisibleby:"7" %}
                            <tr>
                            </tr>
                        {% endif %}
                        <input type="hidden" name="username" value="{{ user.username }}">
                    </form>
                </td>
            {% endfor %}
        </tr>

    </tbody>
</table>



{% endblock %}