{% extends 'base.html' %}

{% block content %}
<br>
<div>
    <form action="/calender/view/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="day" value="{{ day }}">
        <div>&nbsp;&nbsp;時間
            <select name="start_time">
                {% for i in time %}
                    <option value={{ i }}>{{ i }}時</option>
                {% endfor %}
                <option value=0 selected>未選択</option>
            </select>
            〜
            <select name="end_time">
                {% for i in time %}
                    <option value={{ i }}>{{ i }}時</option>
                {% endfor %}
                <option value=0 selected>未選択</option>
            </select>
        </div>
        <div>&nbsp;&nbsp;場所
            <select name="place">
                <option value="0">梅田</option>
                <option value="1">難波</option>
                <option value="2">岸和田</option>
                <option value="3">布施</option>
                <option value="4">梅田or難波</option>
                <option value="5" selected>未選択</option>
            </select>
        </div>
        <p>&nbsp;&nbsp;空きを探したい時間帯と場所を選択してください</p>
        &nbsp;<button type="submit">検索する</button><p>&nbsp;&nbsp;※空きがあると、カレンダーの日付が緑色になります</p>
    </form>
</div>

<div class="month text-center">
    <h4>{{ month }}月</h4>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                {% for i in week_list %}
                    <th class="text-center">{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in calendar_list %}
                    <td class="text-center">
                        <form action="/calender/" method="GET">
                            {% if i == "place" %}
                                <button style="width:40px;padding:3px;background-color:green" name="day" value={{ forloop.counter }}>{{ forloop.counter }}</button>
                            {% else %}
                                <button style="width:40px;padding:3px" name="day" value={{ forloop.counter }}>{{ forloop.counter }}</button>
                            {% endif %}
                            {% if forloop.counter|divisibleby:"7" %}
                                <tr>
                                </tr>
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user.username }}">
                            <input type="hidden" name="next_bool" value="{{ next_bool }}">
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<br>
<form action='{% url "go_to_next_calendar" %}' method='GET' class='form'>
    <input type="hidden" name="username" value="{{ user.username }}">
    <button type='submit' class='btn btn-outline-primary'>次月の予約</button>
</form>
<br>
{% if username == "yusuke" %}
    {% if len_reservation_list == 0 %}
        <div class="text-center">
            <h4>予約はありません</h4>
        </div>
    {% else %}
        <div class="text-center">
            <h4>予約一覧</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">ユーザー名</th>
                        <th class="text-center">月</th>
                        <th class="text-center">日</th>
                        <th class="text-center">時間</th>
                        <th class="text-center">場所</th>
                        <th class="text-center">予約状況</th>
                        <th class="text-center">登録日時</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in reservation_list %}
                            <td class="text-center">
                                {{ i }}
                            </td>
                            {% if forloop.counter|divisibleby:"7" %}
                                    <tr>
                                    </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    {% endif %}
    {% if len_delete_list == 0 %}
        <div class="text-center">
            <h4>予約取り消しはありません</h4>
        </div>
    {% else %}
        <div class="text-center">
            <h4>予約取り消し一覧</h4>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th class="text-center">ユーザー名</th>
                    <th class="text-center">月</th>
                    <th class="text-center">日</th>
                    <th class="text-center">時間</th>
                    <th class="text-center">場所</th>
                    <th class="text-center">予約状況</th>
                    <th class="text-center">登録日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in delete_list %}
                        <td class="text-center">
                            {{ i }}
                        </td>
                        {% if forloop.counter|divisibleby:"7" %}
                            <tr>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endif %}

{% elif len_reservation_list_guest == 0 %}
    <div class="text-center">
        <h4>予約はありません</h4>
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th class="text-center">ユーザー名</th>
                    <th class="text-center">月</th>
                    <th class="text-center">日</th>
                    <th class="text-center">時間</th>
                    <th class="text-center">場所</th>
                    <th class="text-center">予約状況</th>
                    <th class="text-center">登録日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in reservation_list_guest %}
                        <td class="text-center">
                            {% if i == "予約不可" %}
                                <h5>予約完了</h5>
                            {% else %}
                                <h5>{{ i }}</h5>
                            {% endif %}
                        </td>

                        {% if forloop.counter|divisibleby:"7" %}
                            <tr>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <form action='{% url "go_to_calender" %}' method='GET' class='form'>
            {% csrf_token %}
            <input type="hidden" name="day" value="{{ day }}">
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="delete" value="delete">

            <div>&nbsp;&nbsp;取り消す日
                <select name="del_day">
                    <option value=0 selected>未選択</option>
                    {% for i in month_days %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>&nbsp;&nbsp;取り消す時間帯
                <select name="del_time">
                    <option value=0 selected>&nbsp;未選択</option>
                    {% for i in del_time_list %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <p>&nbsp;&nbsp;予約を取り消したい日と時間帯を選択してください</p>
            &nbsp;<button type='submit' class='btn btn-outline-primary'>予約を取り消す</button>
        </form>
    </div>
{% endif %}

{% endblock %}