{% extends 'base.html' %}

{% block content %}
<br>
<h2>HOME</h2>
<br>
    <p>viewからの受け渡しテスト：{{ test }}</p>
<br>
    <a href="{% url 'calender' %}">calender</a>
<br>
    <a href="{% url 'reservation' %}">reservation'</a>
<br>
    <a href="{% url 'account_signup' %}">sign_up'</a>
<br>
    <a href="{% url 'account_login' %}">login'</a>
<br>
    <a href="{% url 'account_logout' %}">logout'</a>
<br>

        {% if test %}
            <p>if文テスト</p>

        {% else %}
            <p>No request</p>
        {% endif %}

{% endblock %}
