{% extends 'base.html' %}

{% block content %}

    <p>{{ test }}</p>
    <p>{{ test }}</p>
    <p>pythonanywhereからgitへテスト</p>
    <a href="{% url 'month' %}">month</a>
    <a href="{% url 'main' %}">main'</a>
    <a href="{% url 'calender' %}">calender</a>
    <a href="{% url 'reservation' %}">reservation'</a>
        {% if test %}
            <p>{{ test }}</p>
            <a href="{% url 'index' %}">link</a>

        {% else %}
            <p>No request</p>
        {% endif %}

{% endblock %}
