{% extends 'base.html' %}

{% block content %}
<br>
<div class="text-center">
    <h3>予約申請が完了しました</h3>
</div>
<br>
<div class="text-center">
    <h5>予約内容一覧</h5>
    <br>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>月/日</th>
                <th>時間帯</th>
                <th>場所</th>
                {% if user.username != "yusuke" %}
                    <th>予約の取り消し</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if len_reserve_list != 0 %}
                {% for i in reservation_data %}
                    <tr>
                        <td>
                            {{ i.month }}&nbsp;/&nbsp;{{ i.day }}
                        </td>
                        <td>
                            {{ i.time }}
                        </td>
                        <td>
                            {{ i.place }}
                        </td>
                        {% if user.username != "yusuke" %}
                            <td>
                                <form action='{% url "sent" %}' method='POST'>
                                    {% csrf_token %}
                                    <input type="hidden" name="day" value="{{ i.day }}">
                                    <input type="hidden" name="month" value="{{ i.month }}">
                                    <input type="hidden" name="username" value="{{ user.username }}">
                                    <input type="hidden" name={{ i.time }} value={{ i.time }}>
                                    <button type='submit' class='btn btn-outline-primary'>予約を取り消す</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>予約がありません</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}